<h1>Listing statements</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statements.each do |statement| %>
  <tr>
    <td><%= link_to 'Show', statement %></td>
    <td><%= link_to 'Edit', edit_statement_path(statement) %></td>
    <td><%= link_to 'Destroy', statement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Statement', new_statement_path %>
